<div>
  <div>
    <label>Currency converter</label>
  </div>
  <div>
    <div>Type in amount and select currency:</div>
    <input #originalAmount="$event.target.value" type="text" id="amountToConvert" name="amountToConvert" [(ngModel)]="amountToConvert"
      (change)="convertCurrency('originalCurrency', $event.target.value)" />
    <select name="currencyList" (change)="convertCurrency('originalCurrency', originalAmount.value)">
      <option #originalCurrency *ngFor="let currency of currencyList">{{currency}}</option>
    </select>
  </div>
  <div>
    <div>Converted amount:</div>
    <input #targetAmount="$event.target.value" type="text" id="convertedAmount" name="convertedAmount" [(ngModel)]="convertedAmount"
      (change)="convertCurrency('targetCurrency', $event.target.value)" />
    <select name="currencyList" (change)="convertCurrency('targetCurrency', targetAmount.value)" [value]="currencyList[1]">
      <option #targetCurrency *ngFor="let currency of currencyList">{{currency}}</option>
    </select>
  </div>
</div>
