<div>
  <div>
    <label>Currency converter</label>
  </div>
  <div>
    <div>Type in amount and select currency:</div>
    <input type="text" id="amountToConvert" name="amountToConvert" [(ngModel)]="amountToConvert"
      (keyup)="convertCurrency()"
        (change)="amountToConvert=$event.target.value" />
    <select name="currencyList" (change)="convertCurrency('originalCurrency')" #originalCurrency>
      <option *ngFor="let currency of currencyList">{{currency}}</option>
    </select>
  </div>
  <div>
    <div>Converted amount:</div>
    <input type="text" id="convertedAmount" name="convertedAmount" [(ngModel)]="convertedAmount"
      (keyup)="convertCurrency()"
      (change)="convertCurrency=$event.target.value" />
    <select name="currencyList" (change)="convertCurrency('targetCurrency')"
      [value]="currencyList[1]" #targetCurrency>
      <option *ngFor="let currency of currencyList">{{currency}}</option>
    </select>
  </div>
</div>
